@tailwind base;
@tailwind components;
@tailwind utilities;


.object-cover {
    object-fit: cover;
    width: 100%;
    height: fit-content;
}
button.mt-2.bg-blue-500.text-white.p-2.rounded {
    margin-right: 10px !important;
  }

  .product-detail-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-detail-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .product-detail-content {
    margin-top: 20px;
  }
  
  .product-detail-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-detail-price {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .product-detail-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  
  .product-detail-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-detail-button:hover {
    background-color: #218838;
  }
  